@media screen and (max-width:300px) {
    
}
*{
    width: auto;
    font-family: 'Poppins', 'Inter';
}
/* Head and Nav Bar */
nav>ul>li>a {
    text-decoration: none;
}

nav>ul>li>a:hover {
    border-bottom: #ED661F 3px solid;
}

li {
    display: inline-block;
    justify-content: center;
    margin-right: 10px;
    font-size: 1em;
    text-decoration: none;
    color: white
}

nav {
    display: flex;
    padding: 10px;
    background-color: black;
    
}
.menu{
    display: inline;
    margin: auto;
    font-size: 1.1em;
}
.menu li a:hover{
border-bottom: #ED661F 3px solid;
}

#agp {
    display: inline;
    margin-right: 500px;
}

#agp:hover {
    text-shadow: 5px 5px 10px #ED661F;
}

li>h1>a {
    color: white;
    text-decoration: none;
}

li>#login {
    color: white;
    text-decoration: none;
    margin-left:100px;
}

#getstarted {
    font-size: 1em;
    background-color: #ED661F;
    color: white;
    font-size: 1.5em;
    justify-content: flex-end;
}

button {
    background-color: #ED661F;
    color: white;
    font-size: 1.2em;
    bottom: 20px;

}

.explore:hover {
    padding: 50px;
    box-shadow: 3px 3px 20px #ED661F;
    transform: scale(1.5);
}

/* Body */
body {
    background-color: lightgrey;
    font-family: 'Poppins', 'Inter';
    margin:0;
    left: 0;
    right: 0;
}

/* First Section about AgriPlus */
.Abt1 {

    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
}

#apimg {
    position: relative;
    height: 500px;
    width: 100%;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
}

#fruits {
    position: absolute;
    right: 0;
    top: 100px;
    width: 50%;
}

.buying:first-child {
    height: 400px;
    top: 0;
    left: 0;
    position: relative;
    z-index: -1;
}

.buying {
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 300px;
    width: 100%;
    z-index: 0;
}

#buyingtext {
    position: absolute;
    width: 50%;
    font-size: 1em;
}

.buyingtext {
    position: absolute;
}

#buyingtext {
    position: absolute;
    width: 50%;
    font-size: 1.5em;
    top: 8px;
    left: 16px;
    z-index: 1;
}

#users {
    background-color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    right: 200px;
    
    align-content: center;
    z-index: 1;
    height: 100px;
    width: 50%;
    box-shadow: 0 0 2px lightgrey;
}

#users>div {
    margin: 10px 30px;
}

button #explore {
    background-color: #ED661F;
    float: left;
    border: none;
    text-decoration: none;
    color: white;
}


/* Why we exist Section */
#uwhy{
    border-bottom: #ED661F 5px solid;
    color: black;
    font-family: 'Poppins', 'Inter';
    }
.whyweexist {
    display: flex;
    background-color: white;
    color: black;
    margin-top: 100px;
    padding: 50px;
    font-size: 1em;
    width:93%;
    z-index: -1;
    left: 0;
}
#why{
    font-size: 1em;
     color: black;
     font-family: 'Poppins', 'Inter';
}


#existtxt {
    justify-content: left;
    width: 50%;
}

#communicate img {
    float:right;
    width:50%;
    height: auto;
object-fit: contain;

}

/* Most Popular  */
.product-feedback {
    background-color: white;
    padding: 50px;
}

.Catproducts {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 50px;
}

.Catproducts h1 {
    justify-content: center;
    font-family: 'Poppins', 'Inter';
}

#carrots:hover,
#cereals:hover,
#fish:hover,
#kales:hover {
    transform: scale(1.2);
}

#popular {
    display: flex;
    background-color: white;
    height: 30%;
    margin-bottom: 10px;
    padding: 30px;
}

#popular {
    display: flex;
    background-color: white;
    height: 30%;
    margin-bottom: 10px;
}

#popular img {
    height: 50%;
    width: 50%;
}

/* Newest Items */
.newest {
    width: 100%;
    background-color: white;
    border-bottom: #ED661F;
    margin-bottom: 0;
    padding-bottom: 0;
}

.new {
    background-color: white;
    padding: 50px;
    margin-top: 0;
    margin-bottom: 5px;
    height: 400px;
}

#chicken:hover,
#rice:hover,
#mursik:hover,
#tomatoes:hover {
    transform: scale(1.15);
}

.Catproducts h2::after {
    border-bottom: #ED661F solid 2px;
}

.Catproducts h2 {
    float: left;
    border-bottom: #ED661F 4px solid;
}

.images {
    background-color: white;
    display: flex;
}

.new img {
    height: 75%;
    width: 50%;
}
.see {
    float: right;
    padding: 20px;
    width: auto;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.see a{
    color: black;
    background-color: white;
}
.fa-arrow-right{
    color: #ED661F;
    background-color: white;
    width: 20px;
    height: 20px;
    font-size: 2em;
 }
.see:hover{
    border-bottom: #ED661F 5px solid;
}