/*Esteemed Customers Feedback */

.customersfeedback {
    background-color: white;
    height: 500px;
    padding: 20px;
    margin-top: 10px;
}

.feedback {
    display: flex;
    padding: 20px;
    height: 200px;
    width: 100%;
    justify-content: center;
}

span {
    color: lightgrey;
    font-size: 1.5em;
    margin: 5px;
    justify-content: center;
    left: 50px
}

.checked {
    color: #ED661F;
    font-size: 1.5em;
}

.feedback img {
    float: left;
    height: 20px;
    width: 20px;
}

#Rebecca p,
#John p,
#Lavington p {
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

#Rebecca:hover,
#John:hover,
#Lavington:hover {
    transform: scale(1.05);
}

#Rebecca,
#John,
#Lavington {
    height: 280px;
    width: 300px;
    margin: 30px;
    font-size: 1.2em;
    font-family: 'Poppins', 'Inter';
    justify-content: center;
    padding: 2px;
    box-shadow: 0 0 5px grey;
}

#Rebecca img,
#John img,
#Lavington img {
    margin-left: 30px;
    padding-right: 40px;
}

.feedback>a {
    float: right;
    text-decoration: none;
    color: white;
}


/* Footer Section Begins Here */

footer {
    color: white;
    background-color: black;
    padding: 50px;
}

.subscribe {
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    color: white;
    height: 200px;
    padding: 50px 0 100px 0;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.subscribe input {
    color: black;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Poppins', 'Inter';
    align-self: center;
}

.subscribe button {
    background-color: #ED661F;
    color: white;
    font-size: 1.3em;
}

.footermore {
    background-color: black;
    display: flex;
    color: white;
    padding: 0;
    margin: 0 0 0 0;
}

.agri {
    width: 20%;
    color: white;
}


/* 
#app {
    border-radius: 20px;
    color: red;
    box-shadow: 5px;
    height: 50px;
    background-color: grey;
    color: black;
}

#apps {
    display: grid;
    padding: 5px;
    height: 50px;
    width: 5%;
}

#app p {
    padding: 10px;
    font-size: 1.4em;
    color: #000;
}
*/

#play {
    border-radius: 20px;
    display: inline;
    box-sizing: content-box;
    box-shadow: 0 0 5px;
    font-size: 1.4em;
    background-color: grey;
    color: black;
    margin: 10px;
    float: right;
    height: 120px;
    width: 200px;
}

#play img {
    height: 70px;
}


/* fab fa-apple */

.footermore>div>i {
    padding: 20px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    left: 0;
    background-color: lightgrey;
}

.footermore i {
    font-size: 20px;
}

.products,
.company,
.others {
    display: block;
    width: 25%;
    margin-left: 1%;
    text-decoration: none;
    color: white;
}

.company ul p li a {
    text-decoration: none;
    color: white;
}

.products ul p li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}

a {
    text-decoration: none;
    text-decoration: none;
    align-content: flex-start;
    height: 200px;
    color: white;
}

#reserved {
    color: white;
    background-color: black;
    font-family: 'Poppins', "Inter";
    padding: 0;
    text-align: center;
}

span {
    font-size: 1.2em;
    /* color:black; */
}